@import '../../styles/mixins';

.step-menu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.step-item {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  padding: 15px 0;
  position: relative;
  transition:
    background-color 0.3s,
    color 0.3s;
  user-select: none;
}

.step-number {
  align-items: center;
  background-color: var(--lara-light-theme-highlight-background);
  border: 1px solid var(--lara-light-global-shade-200);
  border-radius: 50%;
  color: var(--lara-light-global-shade-700);
  display: flex;
  font-size: 16px;;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  width: 30px;

  @include between(md, lg) {
    font-size: 13px;
    height: 23px;
    width: 25px;
  }
}

.step-label {
  font-size: 16px;

  @include between(md, lg) {
    font-size: 13px;
  }
}

.step-item.active .step-number {
  background-color: #fff;
  border-color: var(--lara-light-green-700);
  color:var(--lara-light-green-700);

}

.step-item.active .step-label {
  color:var(--lara-light-green-700);
}

.step-number i.pi-check {
  color: var(--lara-light-green-800) !important
}



.step-item:not(:last-child)::after {
  background-color: var(--lara-light-global-shade-300);
  content: "";
  height: 38px;
  left: 14px;
  position: absolute;
  top: 75%;
  width: 2px;

  @include between(md, lg) {
    height: 38px;
    left: 11px;
    top: 72%;
  }
}
