.alignment {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-style {
  color: #f00;
}

.btn-style {
  margin: 20px;
}

.counter {
  text-align: center;
}
