$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$font-size-regular: 16px;
$font-size-small: 20px;
$font-size-medium: 24px;
$font-size-large: 28px;
$font-primary: "Inter", sans-serif;